﻿.shareButton {
    text-decoration: none;
    padding: 3px 8px;
    color:#fff;
    margin-right:10px;
    border-radius:2px;
}

#shareButtonRate {
    background: #FFCE32;
}

#shareButtonGoogle {
    background: #C23434;
}

#shareButtonFacebook {
    background: #4C66A4;
}

#shareButtonTwitter {
    background: #33CCFF;
}

#shareButtonRate:hover,
#shareButtonGoogle:hover,
#shareButtonFacebook:hover,
#shareButtonTwitter:hover {
    opacity:.8;
    cursor:pointer;
}
